@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <button id="getVidgetBtn" class="btn btn-lg btn-primary" type="button">Get Vidget</button>
    </div>
</div>
@section Scripts{
<script type="text/javascript" src="~/Scripts/widget.js"></script>
    }